pip~=24.1.2
pyee~=11.1.0
pytz~=2024.1
colorama~=0.4.6
PyQt5~=5.15.10
Babel~=2.15.0
setuptools~=65.5.1
black~=24.4.2
platformdirs~=4.2.2
tomli~=2.0.1
packaging~=24.1
pathspec~=0.12.1
click~=8.1.7
numpy~=1.24.4
pandas~=2.0.3
openpyxl~=3.1.5
python-dateutil~=2.9.0.post0
certifi~=2024.7.4
six~=1.16.0
pyppeteer~=2.0.0
appdirs~=1.4.4
websockets~=10.4
urllib3~=1.26.19
tqdm~=4.66.4
screeninfo~=0.8.1
zipp~=3.19.2