altgraph==0.17.4
appdirs==1.4.4
Babel==2.15.0
certifi==2024.7.4
colorama==0.4.6
importlib_metadata==8.0.0
importlib_resources==6.4.0
Jinja2==3.1.4
MarkupSafe==2.1.5
numpy==2.0.0
packaging==24.1
pandas==2.2.2
pefile==2023.2.7
pyee==11.1.0
pyinstaller==6.9.0
pyinstaller-hooks-contrib==2024.7
pyppeteer==2.0.0
pyppeteer_stealth==2.7.4
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.15.0
python-dateutil==2.9.0.post0
pytz==2024.1
pywin32-ctypes==0.2.2
screeninfo==0.8.1
setuptools==71.0.4
six==1.16.0
tqdm==4.66.4
typing_extensions==4.12.2
tzdata==2024.1
urllib3==1.26.19
websockets==10.4
zipp==3.19.2
